pytest
pytest-cov
psutil

# Astropy and associates
astropy[recommended]
ccdproc
photutils
astroquery

# Jupyter notebooks and extensions
ipykernel
notebook==6.5.7
ipywidgets
widgetsnbextension
jupyter_contrib_nbextensions
